amqp==5.0.6
asgiref==3.3.1
billiard==3.6.4.0
cached-property==1.5.2
celery==5.1.2
click==7.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
dataclasses==0.8
deprecation==2.1.0
dj-database-url==0.5.0
Django==3.1.3
django-heroku==0.3.1
eyeD3==0.9.5
filetype==1.0.7
gunicorn==20.0.4
importlib-metadata==4.8.1
kombu==5.1.0
packaging==20.4
prompt-toolkit==3.0.22
psycopg2==2.8.6
psycopg2-binary==2.8.6
pyparsing==2.4.7
pytz==2020.4
redis==3.5.3
six==1.15.0
sqlparse==0.4.1
typing-extensions==3.10.0.2
vine==5.0.0
wcwidth==0.2.5
whitenoise==5.2.0
youtube-dl==2021.6.6
zipp==3.6.0
