#title{
    color: #fff;
}

#logo-text {
    /*font-family: 'Nerko One', cursive;*/
    font-family: 'Nerko One', cursive;
    color: #9BE5F9;
    font-size: 80px;
    /* text border */
    text-shadow: 4px 0 0 #000, -4px 0 0 #000, 0 4px 0 #000, 0 -4px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000; 
    line-height: 150px;
}

.transparent-text-input {
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: none !important;
    padding: 0 5px 0 5px;
    border: 2px solid white;
    border-radius: 5px;
    height: 40px
}

.btn-outline-darker {
    color: #fff;
    background-color: #17191b;
    background-image: none;
    border-color: #17191b;
    border-width: medium;
}


.btn-outline-darker:hover {
    color: #17191b;
    background-color: #9BE5F9;
    transition: 0.5s;
}